<configuration xmlns="http://logging.apache.org/log4php/">
 
    <appender name="myConsoleAppender" class="LoggerAppenderConsole" />
    
    <appender name="fileAppender" class="LoggerAppenderRollingFile">
         <layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%date (%level) [%logger] %message%newline%ex" />
        </layout>
        <param name="file" value="/home/ubuntu/workspace/logs/bot.log" />
        <param name="maxFileSize" value="1MB" />
        <param name="maxBackupIndex" value="5" />
    </appender>
    
    <logger name="botLogger">
        <level value="debug" />
        <appender_ref ref="fileAppender" />
    </logger>

    <root>
        <level value="ERROR" />
        <appender_ref ref="myConsoleAppender" />
    </root>
</configuration>
